@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #888888;

  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  color: #333333;
}

h3, h4 {
  color: #ff925c;
}

section {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

/********** BRAND **********/
.brand {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 24px;
  line-height: 26px;
}

.brand-logo img {
  width: 50px;
  height: 50px;
}

.brand-name em {
  font-style: normal;
  color: #ff925c;
}

/********** BOOKING **********/
.booking {
  background: url(../img/demo01.jpg) no-repeat center top;
  background-position: center center;
  min-height: 500px;

  box-shadow: inset 0px 3px 20px -3px #868e96;
}

.booking-title {
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 2em;
}

.booking-form {
  padding: 30px;
  background-color: rgba(255, 129, 67, 0.8);
  border-radius: 3px;
}

.booking-form h4,
.booking-form button,
.booking-form p,
.booking-form label {
  color: #ffffff;
}

.booking-form h4 {
  padding-bottom: .7em;
}

.booking-form input {
  font-family: Arial;
  font-size: 14px;
  color: #888888;
}

.booking-form button[type='submit'] {
  background-color: #333333;
  border-radius: 3px;
  box-shadow: 6px 6px 7px 0px rgba(0,0,0,0.24);
  text-transform: uppercase;
  padding: 1em;
  transition-duration: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

.booking-form button[type='submit']:hover {
  background-color: #ffffff;
  color: #ff925c
}

.booking-form p {
  padding-top: 1em;
}

.booking-message {
  padding-top: 2em;
  padding-bottom: 2em;
  color: #ffffff;
  font-size: 1.5em;
}

/********** WELCOME **********/
.welcome {
  border-bottom: 1px solid #e3e3e3;
}

.welcome h3 {
  padding: 25px 0 25px 0;
}

/********** ABOUT **********/
.about img {
  padding-top: 60px;
}

.about-item {
  padding-top: 70px;
}

.about-item-icon {
  text-align: right;
  color: #e5e5e5;
}

.about-item-desc {
  text-align: left;
}

.about-item-desc h4 {
  font-weight: bolder;
  text-transform: lowercase;
}

/********** GALLERY **********/
.gallery {
  background-color: #ff9a69;
}

/********** CONTACTS **********/
.contacts {
  font-size: 24px;
  line-height: 26px;
}

.contacts-address {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 15px;
}

.contacts-phone {
  font-size: 20px;
  color: #333333;
}

.contacts-phone i {
  color: #888888;
}

/********** MAP **********/
.map {
  width: 100%;
  height: 420px;
}
